#loginBlock{
    border: 6px orange;
    outline: 50px black;
    padding: 40px;
    margin-left: 100px;
    margin-top: 70px;
    margin-right: 1130px ;
    background-color: brown;
    border-radius: 25px ;
}
body{
    background-image: url("pizza8.jpg");
    background-size: 100% 140%;
    background-repeat: no-repeat;
}
h1{
    background-color: wheat;
    padding: 5px;
    border-radius: 10px;
}